/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Element Styling */
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}
a {
  text-decoration: none;
}
p {
  margin: 0.75rem 0px;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  padding: 0rem 2rem;
  margin: auto;
}
.text-primary {
  color: #93cb52;
}
.l-heading {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.m-heading {
  font-size: 2rem;
  font-weight: bold;
  margin:1rem 0rem;
}
.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.btn {
  display: inline-block;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: none
}
.btn-primary {
  background: #93cb52;
  color: white;
}
.btn-dark {
  background: #333;
  color: #fff;
}
.bg-primary {
  background: #93cb52;
  color: #fff;
}
.bg-light {
  background: #f4f4f4;
  color: #333;
}
.bg-dark {
  background: #333;
  color: white;
}
.py-1 { padding: 1.5rem 0px; }
.py-2 { padding: 2rem 0px; }
.py-3 { padding: 3rem 0px; }
.p-2 { padding: 2rem;}
.list {
  list-style: none;
  margin: 0.75rem 0;
}
/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
}
#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}
#navbar ul li a{
  color: #fff;
  padding: 0.75rem;
  margin: 0.25rem;
}
#navbar ul li a:hover,
#navbar ul li a:focus
 {
  background: #93cb52;
  border-radius: 5px;
}

/* Showcase */

#showcase {
  background: url(../img/showcase.jpg) no-repeat center center/cover;
  position: relative;
  height: 100vh;
  color: #fff;
}
#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 0 2rem;
  /* Overlay */
  position:absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
}

/* What Section */
#what {
  text-align: center;
}
#what .items {
  display: flex;
  padding: 1rem;
}
#what .items .item {
  padding: 1rem;
  flex: 1;
}
#what .items .item i {
  font-size: 2rem;
  background: #93cb52;
  padding: 1rem;
  border-radius: 50%;
}
#what .items .item h3 {
  margin: 1rem 0;
}

/* Section: Who We Are */
#who {
  display: flex;
}
#who div {
  flex: 1;
}
#who .who-img {
  background: url(../img/team_members.jpg) no-repeat center center/cover;
}

/* Section: Clients */
#clients h2 {
  text-align: center;
}
#clients .items {
  display: flex;
  
}
#clients .items img {
  display: block;
  width: 15%;
  margin: auto;
  
}

/* Section: Contact */
#contact {
  display: flex;
  
}
#contact .contact-form {
  flex: 1;
}
#contact .contact-form .form-group {
  margin: 0.75rem 0;
}
#contact .contact-form .form-group label{
  display: block;
}
#contact .contact-form .form-group input,
#contact .contact-form .form-group textarea {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
}
#contact .contact-map {
  flex: 1;
  z-index: -1;
}
#contact .contact-form input[type=submit] {
  display: block;
  width: 100%;
}


/* Footer */
#footer {
  text-align: center;
  padding: 1rem 0rem;
}